---
Language: Cpp
BasedOnStyle: WebKit

# Empty blocks
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All
SpaceInEmptyBlock: true

# Namespaces
FixNamespaceComments: true
NamespaceIndentation: None
ShortNamespaceLines: 0

# Empty lines
EmptyLineBeforeAccessModifier: LogicalBlock
MaxEmptyLinesToKeep: 2

# Indents
AlignConsecutiveAssignments:
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true
  Enabled: true
BreakConstructorInitializers: BeforeColon

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  BeforeElse: true
  BeforeLambdaBody: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false

---
Language: C

SpaceInEmptyBlock: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All

# Empty lines
MaxEmptyLinesToKeep: 2

# Spaces
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
Cpp11BracedListStyle: false

ContinuationIndentWidth: 8
AccessModifierOffset: -4

# Aligns
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true
AlignAfterOpenBracket: AlwaysBreak

BinPackParameters: OnePerLine
BinPackArguments: false
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
AllowShortCaseExpressionOnASingleLine: true
BreakBeforeBinaryOperators: NonAssignment
AlignArrayOfStructures: Right
IndentExternBlock: NoIndent
IndentPPDirectives: BeforeHash
PPIndentWidth: 1
ReflowComments: IndentOnly
ColumnLimit: 0

# Braces
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
---
