---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
SpaceInEmptyBlock: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All
ShortNamespaceLines: 0
FixNamespaceComments: true

# Empty lines
CompactNamespaces: false
EmptyLineAfterAccessModifier: Leave
MaxEmptyLinesToKeep: 2

# Spaces
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
# AfterOverloadedOperator: true
Cpp11BracedListStyle: false
# SpaceAfterOperatorKeyword: true # clang-format 21

# Indents
ContinuationIndentWidth: 4
AccessModifierOffset: -4
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: false
AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: OnePerLine
BinPackArguments: false
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
AllowShortCaseExpressionOnASingleLine: true
BreakBeforeBinaryOperators: NonAssignment
BreakTemplateDeclarations: Leave
AlignArrayOfStructures: Right
IndentExternBlock: NoIndent
IndentPPDirectives: BeforeHash
PPIndentWidth: 1
ReflowComments: IndentOnly
ColumnLimit: 0

# Braces
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  BeforeElse: true
  BeforeLambdaBody: true
  SplitEmptyNamespace: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
---
Language: C

SpaceInEmptyBlock: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All

# Empty lines
MaxEmptyLinesToKeep: 2

# Spaces
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
Cpp11BracedListStyle: false

ContinuationIndentWidth: 8
AccessModifierOffset: -4
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true
AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: OnePerLine
BinPackArguments: false
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
AllowShortCaseExpressionOnASingleLine: true
BreakBeforeBinaryOperators: NonAssignment
AlignArrayOfStructures: Right
IndentExternBlock: NoIndent
IndentPPDirectives: BeforeHash
PPIndentWidth: 1
ReflowComments: IndentOnly
ColumnLimit: 0

# Braces
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
---
